h1{
    background-color:lightsteelblue;
}

p{
    color:gainsboro;
}

/* this part is followed by the stucture */

.mainFont{
    color:aqua;
}

/* 为什么nev里的字不能被改编颜色？ 但是main里的字却可以在一样的code下改变颜色？*/
/* #mainFont{
    color:aqua;
} */ 


.sideNav{
    height: 100%;
    width: 150px;
    position: fixed;
    z-index: 1;
    top:0;
    left:0;
    background-color:cadetblue;
    overflow-x:hidden;
    padding-top:20px;

}
.sideNav a{
    padding:6px 6px 6px 32px;
    text-decoration: none;
    font-size:25px;
    color: #001b22c4;
    display:block;
}

.sideNav a:hover{
    color:#f1f1f1;
}


main{
    background-color:slategray;
    padding:10px;
    /* margin:10px; */
    /* border: 10px; */
    /* position:center; */
    margin-left:140px;
}

.shelf{
    background-color:rgb(155, 165, 179);
    padding: 10px;
    margin:30px;
    /* border:20px; */

    /* 直角变圆角 */
    border-radius:15px;
}



.footer{
    background-color: lightslategray;
    margin:2px; 
    /* 上面这行：和上一段隔开 */
    padding:3em;
    /*上面这行： 把这一段的周围变大 */
    /* bottom:0; */
    /* position:fixed; */   
    width:100%;
    text-align: center;
}